$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'bootstrap';

.content {
  div.people {
    display:none;
  }
}

.content.filter {
  div.people {
    display: block;
  }
}

.content article.person {
  display:none;
}

.content.details article.person {
  display: block;
}